<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
    </head>

    <body>
        <h1>Welcome User</h1>

        <form action="/create-user" method="Post">
            <input type="text" name="name" placeholder="Name">
            <br>
            <input type="email" name="email" placeholder="Email">
            <br>
            <input type="number" name="age" placeholder="Age">
            <br>
            <button type="submit">Create User</button>
        </form>

        <h2>Users</h2>
        {{range .Users}}
        <div>
            <p>Name: {{.Name}}</p>
            <p>Email: {{.Email}}</p>
            <p>Age: {{.Age}}</p>

            <a href="/edit/{{.ID}}">Edit</a><br>

            <form action="/delete/{{.ID}}" method="POST">
                <button type="submit">Delete User</button>
            </form>

            <hr>
        </div>
        {{end}}

        <h2>Total Users: {{.Count}}</h2>
    </body>
</html>